pkgbase = mhi2-video-finder
	pkgdesc = YouTube music-video search, download (yt-dlp), and MHI2-oriented MP4 transcode
	pkgver = 0.1.0
	pkgrel = 4
	url = https://github.com/uvera/mhi2-video-finder
	install = mhi2-video-finder.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = ffmpeg
	depends = python-pyqt6
	depends = python-typer
	depends = yt-dlp
	source = mhi2-video-finder-0.1.0.tar.gz::https://github.com/uvera/mhi2-video-finder/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 42f0c763c30acaa5ed22810e43d66d926ee2b1e64398f56412efbe46a720dd5d

pkgname = mhi2-video-finder
