pkgbase = mhi2-video-finder
	pkgdesc = YouTube music-video search, download (yt-dlp), and MHI2-oriented MP4 transcode
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/uvera/mhi2-video-finder
	install = mhi2-video-finder.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = ffmpeg
	depends = python-pyqt6
	depends = python-typer
	depends = yt-dlp
	source = mhi2-video-finder-0.6.0.tar.gz::https://github.com/uvera/mhi2-video-finder/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = b60b8701267c7ed54f226821b4250f2b1a2397cb8785f6da6ad963d8a6c2c405

pkgname = mhi2-video-finder
