pkgbase = mhi2-video-finder
	pkgdesc = YouTube music-video search, download (yt-dlp), and MHI2-oriented MP4 transcode
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/uvera/mhi2-video-finder
	install = mhi2-video-finder.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = ffmpeg
	depends = python-pyqt6
	depends = python-httpx
	depends = python-typer
	depends = yt-dlp
	source = mhi2-video-finder-0.13.0.tar.gz::https://github.com/uvera/mhi2-video-finder/archive/refs/tags/v0.13.0.tar.gz
	sha256sums = 6e04df4fd5efe2aab9df06ff617f4b247e066d4fe1d2f18364c52f705023dbe5

pkgname = mhi2-video-finder
